@page "/"
@using Battleships.Game;
@using Battleships.Game.Models;

<PageTitle>Battleships</PageTitle>

<div class="stage">
    <div class="board">
        <span class="player-name">@game.PlayerName</span>
        @foreach (var row in game.PlayerBoard.Cells)
        {
            <div class="row">
                @foreach (var cell in row)
                {
                    <div class="image-button @cell.Status"></div>
                }
            </div>
        }
    </div>

    <div class="board">
        <div class="computer-name">Computer</div>
        @foreach (var row in game.ComputerBoard.Cells)
        {
            <div class="row">
                @foreach (var cell in row)
                {
                    <div class="image-button @cell.Status" onclick="@(() => ShootClicked(cell))"></div>
                }
            </div>
        }
    </div>
</div>

<div class="buttons-panel">
    <button type="button" class="new-game-button" onclick="@(() => NewGame())">New Game</button>
</div>

@code {
    Game game = new Game("PlayerName");

    private void ShootClicked(Cell cell)
    {
        if(game.IsShootInProgress == false)
        {
            game.Shoot(cell);

            StateHasChanged();
        }
    }

    private void NewGame()
    {
        game.Restart();
    }
}